/*=== RESET ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--dark-10);
}

/*=== VARIABLES ==========*/
:root {
  /* COLORS */
  --brand-color: #e07b67;

  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;

  --gray: #afabb6;
  --white: #ffffff;

  /* FONTS */
  --title-font: "Space Grotesk", sans-serif;
  --text-font: "Inter", sans-serif;
}

/*=== HEADER ==========*/
header {
  background-color: var(--dark-20);
  width: 100%;

  padding: 3rem 1.5rem;
}

header h1 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--white);

  margin-bottom: 2rem;
}

header h1 span {
  color: var(--brand-color);
}

header .search-blog {
  display: flex;
  gap: 12px;

  background-color: var(--dark-30);
  border: 2px solid var(--dark-40);
  transition: border 0.3s ease;
  border-radius: 8px;

  padding: 1rem 1.5rem;
}

header .search-blog:focus-within {
  border: 2px solid var(--brand-color);
}

header .search-blog img {
  width: 14.64px;
  cursor: pointer;
}

header .search-blog input {
  width: 100%;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray);
  background-color: transparent;
  border: none;
  outline: none;
}

header .search-blog input::-webkit-input-placeholder {
  color: var(--gray);
}

/*=== CARD ==========*/
main {
  padding: 2.5rem 1.5rem;
}

.card {
  background-color: var(--dark-20);
  border: solid 2px var(--dark-40);
  transition: border 0.3s ease;
  border-radius: 8px;

  padding: 2rem 1.5rem;
  margin-bottom: 2.5rem;
}

.card:last-child {
  margin-bottom: 0;
}

.card:hover {
  border: solid 2px var(--brand-color);
}

.card .date {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.25rem;
}

.card .date span {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 14.56px;
  color: var(--brand-color);
}

.card .date .icon-heart {
  width: 17.5px;
  fill: var(--dark-20);
  stroke: var(--brand-color);
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}

.card .date .icon-heart.filled,
.card .date .icon-heart:hover {
  fill: var(--brand-color);
}

.card h2 {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 25.52px;
  color: var(--white);

  margin-bottom: 1rem;
}

.card p {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 22.4px;
  color: var(--gray);
}

/*=== Footer ==========*/
footer {
  padding: 2rem 1.5rem;

  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer p {
  text-align: center;
  font-family: var(--title-font);
  font-size: 0.75rem;
  color: var(--white);
}

footer a {
  color: var(--brand-color);
}

footer a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  header {
    padding: 4rem 2rem;
  }

  header h1 {
    font-size: 2.5rem;

    margin-bottom: 3rem;
  }

  header .search-blog {
    gap: 15px;
  }

  header .search-blog img {
    width: 21px;
  }

  header .search-blog input {
    font-size: 1.25rem;
  }

  main {
    padding: 4rem 2rem;
  }

  .card {
    padding: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .card .date {
    margin-bottom: 1.5rem;
  }

  .card .date span {
    font-size: 0.875rem;
    line-height: 16.94px;
  }

  .card .date .icon-heart {
    width: 21px;
  }

  .card p {
    font-size: 1rem;
    line-height: 25.6px;
  }

  footer {
    padding: 2rem 2rem;
  }

  footer p {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1216px) {
  .header-container {
    max-width: 1216px;
    margin: 0 auto;
  }

  header {
    padding: 4rem 2rem;
  }

  header .search-blog img {
    width: 28px;
  }

  .main-container {
    max-width: calc(1216px + 64px);
    margin: 0 auto;
  }

  main {
    padding: 5.5rem 2rem;
  }

  .card .date {
    margin-bottom: 1.25rem;
  }

  .card .date span {
    font-size: 1rem;
    line-height: 19.36px;
  }

  .card .date .icon-heart {
    width: 32px;
  }

  .card h2 {
    font-size: 1.5rem;
    line-height: 30.62px;
  }

  .card p {
    font-size: 1.25rem;
    line-height: 32px;
  }

  footer p {
    font-size: 1rem;
  }
}
